# IDEs cache directory
.vs/
.idea/
.vscode/
.vsc/

*.exe
test.OBJ
timestamp
timestamp.build_log.htm
timestamp.uvgui.Aphcity
timestamp.uvmpw.uvgui.Aphcity
timestamp.uvopt
timestamp.uvproj
Out/